.main {
  margin: 0 auto;
  max-width: 720px;
  padding: 40px;

  @media screen and (max-width: 1200px) {
    margin: 0;
  }
}

a.header__link {
  color: #f9145f;
  border-bottom: none;
  text-decoration: none;
  text-shadow: none;
  background: none;
}

a.header__link:hover {
  text-decoration: underline;
}
