/*.primary-color {
  color: #F13718;
}

::selection {
  color: white;
  background: #F13718;
}

a {
  color: #F13718;
  font-weight: 500;
  transition: ease all .5s;
  text-decoration: none;
  border-bottom: 1px solid #F13718;
}

a:hover, a:focus {
  color: inherit;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: dotted;
}

a.footer__link,
a.footer__link:hover,
a.footer__link:focus {
  border-bottom: none;
}

a.header__link,
a.header__link:hover,
a.header__link:focus {
  border-bottom: none;
}

*/
